{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% if listAdverts|length > 0 %}
    <div>
      <ol>
        {% for advert in listAdverts %}
          
          <li><a href="{{ path('oc_platform_view', {'id': advert.id}) }}">{{ advert.title }}</a> par {{ advert.author }} le {{ advert.date|date("m/d/Y H:i") }}
          </li>
        {% endfor %}
<ul class="pagination">
  {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
  {% for p in range(1, nbPages) %}
    <li{% if p == page %} class="active"{% endif %}>
      <a href="{{ path('oc_platform_home', {'page': p}) }}">{{ p }}</a>
    </li>
  {% endfor %}
</ul>
      </ol>
    </div>
  {% endif %}  
  </ul>

{% endblock %}