<html>
  <body>
    {{ 'Hello'|trans({'%name%' : name }) }}
    Aujourd'hui nous sommes le {{ 'now'|localizeddate('full', 'none') }} et il est {{ 'now'|localizeddate('none', 'short') }}
  </body>
</html>